{% extends 'pyconlt/base.html' %}
{% load i18n %}

{% block content %}
    <h4 align="center">{{ proposal.title }}</h4>
    <p>Rating: {{ proposal.get_review_rating }}</p>
    {% if status == 0 %}
        <a href="{% url 'review_view' proposal.pk %}" class="btn">Leave review</a>
    {% endif %}
    <hr>
    {% if reviews %}
        {% for review in reviews %}
            <p class="review">
                <div class="date"><strong>Date: </strong>{{ review.created_at }}</div>
                <strong>Author: </strong>{{ review.author }}
                <div><strong>Comment: </strong>{{ review.text }}</div>
                <div><strong>Rating: </strong>{{ review.rating }}</div>
                <div><strong>Status of the review: </strong>{{ review.get_status }}</div>
                <hr>
        {% endfor %}
    {% else %}
        <p align="center">No reviews here yet :(</p>
    {% endif %}
{% endblock content %}
